article { padding: 50px 0; }

.contentsBox { padding: 100px 0; }

.titleBox { margin-bottom: 100px; text-align: center; }

.titleBox h2 { font-size: 3.6rem; margin-bottom: 10px; font-weight: 600; text-transform: uppercase; }

#main #mainVisual { overflow: hidden; position: relative; }

#main #mainVisual ul li { height: 100vh; position: relative; background-repeat: no-repeat; background-size: cover; background-position: 50%; }

#main #mainVisual ul li.visual01 { background-image: url("../images/main/main/main-visual01.jpg"); }

#main #mainVisual .slogan { position: absolute; z-index: 3; top: 40%; left: 80%; text-align: center; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #fff; }

#main #mainVisual .slogan .main { font-size: 53px; font-weight: 600; margin-bottom: 10px; text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); }

#main #mainVisual .slogan div img { margin: 30px 0 -150px 0; width: 80px; height: 50px; border: 1px solid #fff; border-radius: 25px; }

#main #mainVisual .slogan div :hover { background-color: #bbcc00; }

#main #mainVisual .swipe_page { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-left: 800px; }

#main #mainVisual .swipe_page div { margin-top: -140px; z-index: 5; }

#main #mainVisual .swipe_page div div a img { width: 250px; margin-left: 35px; }

#main #quickMenu { padding-top: 0; }

#main #quickMenu h2 { margin: 100px; font-size: 32px; text-align: center; }

#main #quickMenu .list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#main #quickMenu .list li { margin: 20px; background-size: cover; position: relative; overflow: hidden; background-color: red; }

#main #quickMenu .list li:hover:before { opacity: 1; }

#main #quickMenu .list li:hover img { -webkit-transform: scale(1.2); transform: scale(1.2); }

#main #quickMenu .list li:before { content: ""; display: block; position: absolute; border: 1px solid #fff; left: 20px; right: 20px; top: 20px; bottom: 20px; opacity: 0; z-index: 2; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

#main #quickMenu .list li img { -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

#main #quickMenu .list li .txtBox { position: absolute; bottom: 40px; left: 40px; color: #fff; }

#main #quickMenu .list li .txtBox h3 { font-size: 3.6rem; font-weight: 600; text-transform: uppercase; margin-top: 20px; }

#main #quickMenu111 { padding-top: 0; }

#main #quickMenu111 h2 { margin: 100px; font-size: 32px; text-align: center; }

#main #quickMenu111 .list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#main #quickMenu111 .list li { margin: 20px; background-size: cover; position: relative; overflow: hidden; background-color: red; }

#main #quickMenu111 .list li:hover { opacity: 1; }

#main #quickMenu111 .list li:hover img { -webkit-transform: scale(1.2); transform: scale(1.2); }

#main #quickMenu111 .list li:before { content: ""; display: block; position: absolute; border: 1px solid #fff; left: 20px; right: 20px; top: 20px; bottom: 20px; opacity: 0; z-index: 2; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

#main #quickMenu111 .list li img { -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

#main #quickMenu111 .list li .txtBox { position: absolute; bottom: 40px; left: 40px; color: #fff; }

#main #quickMenu111 .list li .txtBox h3 { font-size: 3.6rem; font-weight: 600; text-transform: uppercase; margin-top: 20px; }

#main #answer { background-color: yellowgreen; }

#main #answer .listBox { width: 1200px; margin: auto; }

#main #answer .listBox .list { display: -webkit-box; display: -ms-flexbox; display: flex; }

#main #answer .listBox .list li { width: 590px; position: relative; margin-bottom: 20px; overflow: hidden; }

#main #answer .listBox .list li:hover img { -webkit-transform: scale(1.2); transform: scale(1.2); -webkit-filter: grayscale(0); filter: grayscale(0); }

#main #answer .listBox .list li img { -webkit-filter: grayscale(100%); filter: grayscale(100%); -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

#main #answer .listBox .list li .txtBox { position: absolute; left: 40px; bottom: 40px; color: #fff; }

#main #answer .listBox .list li .txtBox h3 { font-size: 2.4rem; font-weight: 500; margin-bottom: 20px; }

#main #answer .listBox .list li .txtBox p { margin-bottom: 30px; }

#main #answer .listBox .list li .txtBox .btn a { padding: 10px; text-align: center; border: 1px solid #111111; border-radius: 25px; }

#main #answer .listBox .list li .txtBox .btn :hover { background-color: #888888; }

#main #carrer { background: url("../images/main/main/main-visual01.jpg") no-repeat 50%; background-size: cover; color: #fff; padding: 80px; height: 500px; }

#main #carrer .titleBox h2 { text-align: left; margin-bottom: 40px; }

#main #carrer .titleBox p { font-size: 24px; text-align: left; line-height: 1.5; }

#main #carrer .document_box .document ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

#main #carrer .document_box .document ul li { width: calc(100% - 10px); margin: 40px; border: 2px solid #fff; border-radius: 25px 25px 0 0; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

#main #carrer .document_box .document ul li:hover { -webkit-transform: translateY(-20px); transform: translateY(-20px); }

#main #carrer .document_box .document ul li div { padding: 25px; }

#main #carrer .document_box .document ul li div div { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; }

#main #carrer .document_box .document ul li div div p { margin-bottom: 60px; font-size: 24px; }

#main #carrer .document_box .document ul li div div span { margin-left: 180px; font-size: 20px; }

#main #carrer .document_box .document ul li div hr { margin: 20px; }

#main #carrer .document_box .document ul li div .button a { margin-right: 10px; border: 1px solid #fff; border-radius: 25px; padding: 15px; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

#main #carrer .document_box .document ul li div .button :hover { background-color: #213e46; }

.popup { position: fixed; z-index: 100000; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color: #fff; display: none; -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); }

.popup .contents { padding: 50px; }

.popup .btns { display: -webkit-box; display: -ms-flexbox; display: flex; }

.popup .btns button { width: 50%; padding: 20px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #ccc; }

.popup .btns button.oneday { background-color: #111; color: #fff; }

@-webkit-keyframes iconAni { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(10px); transform: translateY(10px); } }

@keyframes iconAni { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(10px); transform: translateY(10px); } }
